<%- include('partials/header') %>


<body>
    <%- include('partials/navbar') %>

        <!--Page Header Start-->
        <section class="page-header">
            <div class="page-header-bg" style="background-image: url(assets/images/backgrounds/page-header-bg1.webp)">
            </div>
            <div class="page-header-border"></div>
            <div class="page-header-border page-header-border-two"></div>
            <div class="page-header-border page-header-border-three"></div>
            <div class="page-header-border page-header-border-four"></div>
            <div class="page-header-border page-header-border-five"></div>
            <div class="page-header-border page-header-border-six"></div>

            <div class="page-header-shape-1"></div>
            <div class="page-header-shape-2"></div>
            <div class="page-header-shape-3"></div>

            <div class="container">
                <div class="page-header__inner">
                    <ul class="thm-breadcrumb list-unstyled">
                        <li><a href="index.html">Home</a></li>
                        <li class="active">projects</li>
                    </ul>
                    <h2>projects</h2>
                </div>
            </div>
        </section>
        <!--Page Header End-->

        <!-- Project Two Start-->
        <section class="project-two">
            <div class="project-two__container">
                <div class="section-title text-center">
                    <span class="section-title__tagline">Our Recent Projects</span>
                    <h2 class="section-title__title">work showcase</h2>
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <div class="project-two__carousel owl-theme owl-carousel">
                            <!--Project Two Start-->
                            <div class="project-two__single">
                                <div class="project-two__img">
                                    <img src="assets/images/resources/project-two-img-1.png" alt="">
                                    <div class="project-two__hover">
                                        <p class="project-two__tagline">Oil & Gas</p>
                                        <h3 class="project-two__title"><a href="project-details.html">Installation</a>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <!--Project Two Start-->
                            <div class="project-two__single">
                                <div class="project-two__img">
                                    <img src="assets/images/resources/project-two-img-2.png" alt="">
                                    <div class="project-two__hover">
                                        <p class="project-two__tagline">Oil & Gas</p>
                                        <h3 class="project-two__title"><a href="project-details.html">Installation</a>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <!--Project Two Start-->
                            <div class="project-two__single">
                                <div class="project-two__img">
                                    <img src="assets/images/resources/project-two-img-3.png" alt="">
                                    <div class="project-two__hover">
                                        <p class="project-two__tagline">Oil & Gas</p>
                                        <h3 class="project-two__title"><a href="project-details.html">Installation</a>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <!--Project Two Start-->
                            <div class="project-two__single">
                                <div class="project-two__img">
                                    <img src="assets/images/resources/project-two-img-4.png" alt="">
                                    <div class="project-two__hover">
                                        <p class="project-two__tagline">Oil & Gas</p>
                                        <h3 class="project-two__title"><a href="project-details.html">Installation</a>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <!--Project Two Start-->
                            <div class="project-two__single">
                                <div class="project-two__img">
                                    <img src="assets/images/resources/project-two-img-5.png" alt="">
                                    <div class="project-two__hover">
                                        <p class="project-two__tagline">Oil & Gas</p>
                                        <h3 class="project-two__title"><a href="project-details.html">Installation</a>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <!--Project Two Start-->
                            <div class="project-two__single">
                                <div class="project-two__img">
                                    <img src="assets/images/resources/project-two-img-6.png" alt="">
                                    <div class="project-two__hover">
                                        <p class="project-two__tagline">Oil & Gas</p>
                                        <h3 class="project-two__title"><a href="project-details.html">Installation</a>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <!--Project Two Start-->
                            <div class="project-two__single">
                                <div class="project-two__img">
                                    <img src="assets/images/resources/project-two-img-7.png" alt="">
                                    <div class="project-two__hover">
                                        <p class="project-two__tagline">Oil & Gas</p>
                                        <h3 class="project-two__title"><a href="project-details.html">Installation</a>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <!--Project Two Start-->
                            <div class="project-two__single">
                                <div class="project-two__img">
                                    <img src="assets/images/resources/project-two-img-8.png" alt="">
                                    <div class="project-two__hover">
                                        <p class="project-two__tagline">Oil & Gas</p>
                                        <h3 class="project-two__title"><a href="project-details.html">Installation</a>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <!--Project Two Start-->
                            <div class="project-two__single">
                                <div class="project-two__img">
                                    <img src="assets/images/resources/project-two-img-1.png" alt="">
                                    <div class="project-two__hover">
                                        <p class="project-two__tagline">Oil & Gas</p>
                                        <h3 class="project-two__title"><a href="project-details.html">Installation</a>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <!--Project Two Start-->
                            <div class="project-two__single">
                                <div class="project-two__img">
                                    <img src="assets/images/resources/project-two-img-2.png" alt="">
                                    <div class="project-two__hover">
                                        <p class="project-two__tagline">Oil & Gas</p>
                                        <h3 class="project-two__title"><a href="project-details.html">Installation</a>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <!--Project Two Start-->
                            <div class="project-two__single">
                                <div class="project-two__img">
                                    <img src="assets/images/resources/project-two-img-3.png" alt="">
                                    <div class="project-two__hover">
                                        <p class="project-two__tagline">Oil & Gas</p>
                                        <h3 class="project-two__title"><a href="project-details.html">Installation</a>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <!--Project Two Start-->
                            <div class="project-two__single">
                                <div class="project-two__img">
                                    <img src="assets/images/resources/project-two-img-4.png" alt="">
                                    <div class="project-two__hover">
                                        <p class="project-two__tagline">Oil & Gas</p>
                                        <h3 class="project-two__title"><a href="project-details.html">Installation</a>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Project Two End -->

        <%- include('partials/footer') %>
